venv/
__pycache__/
.env*
pushfiles.bat
.cursorignore
~*
results\classical_risk\evt_pot_var_cvar_metrics.json
results\classical_risk\monte_carlo_var_cvar_metrics.json
.stfolder/
.stignore
cache/
logs/
*.npy
results/**/*.npy
results/classical_optimization/rp_erc_diagnostics.zip

research_paper_1.log
research_paper_1.aux
result_analysis/classical_optimization/cross_optimization/harmonized_metrics.parquet